$green: #91B40D;

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
  overflow-x: hidden;
  width: 100%
}

a {
  text-decoration: none;
}

button:focus,
button:active {
  outline: 0
}

.mobile-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  top: 0;
  left: 0;
  display: none
}

header {
  height: 630px;
  padding: 30px 110px;
  color: white;
  position: relative;
  margin-bottom: 200px;

  .header-banner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;

    img {
      object-fit: cover;
      object-position: top center;
      filter: brightness(0.5);
      
    }
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 15px;

    ul {
      display: flex;
      gap: 15px;

      li {
        color: $green;
        font-size: 1.2rem;
        cursor: pointer;
        transition: .4s
      }
      li:hover {
        color: white
      }
    }
  }

  .header-bottom {
    display: grid;
    grid-template-columns: 3fr 9fr;
    justify-content: space-between;
    padding-top: 10px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; 

    .mobileNavLinks {
      display: none
    }

    .pages-nav-logo {
      display: none
    }

    li {
      font-size: 22px;

      a {
        color: white;
        position: relative;
      }
      a::after{
        content: "";
        width: 100%;
        height: 1.5px;
        background-color: $green;
        position: absolute;
        left: 0;
        bottom: -2px;
        transform: scale(0);
        transition: 0.4s;
        display: block
      }
      a:hover::after {
        transform: scale(1);
      }
      a:hover {
        color: $green;
      }
    }

    li.active {
      background-color: $green;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      position: relative;

      a:hover {
        color: white
      }

      &::after {
        content: "";
        background-image: url("images/Group 438.png");
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    button {
      background-color: transparent;
      color: white;
      outline: 0;
      border: 0;
      font-size: 1.25rem;
      cursor: pointer;
    }

    li, button {
      display: inline-block;
      margin-left: 1rem;
    }

  }
  .hamburger-btn {
    display: none;
    button {
      background-color: transparent;
      color: white;
      font-size: 2rem;
      border: 0;
      cursor: pointer;
    }
  }
}

.search-window {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #18170ca6;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: .3s linear;
  display: flex;
  justify-content: center;
  align-items: center;

  .close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .search-btn {
    background-color: white;
    color: black;
    border: 2px solid white;
    min-width: 15%;
    padding: 20px;
    font-size: 1.2rem;
    transition: .2s;
    cursor: pointer;
    height: 65px;
    display: grid;
    place-items: center
  }
  .search-btn:hover {
    background-color: #1A5221;
    color: white;
  }
  input {
    padding: 20px;
    height: 65px;
    border: 2px solid white;
    width: 45%;
    background-color: transparent;
    color: white;
    font-size: 1.2rem
  }
  input::placeholder {
    color: white;
  }
  input:focus {
    outline: 0
  }
}

section {
  width: 100%;
  padding: 50px 100px;
}

.about {
  display: grid;
  grid-template-columns: 3fr 5fr;
  background-color: #F5F5F5;
  position: relative;

  .section-banner {
    position: absolute;
    left: 0;
    top: -50px;
    height: 700px;
    z-index: 10;
  }

  div:nth-of-type(1) {
    img {
      width: 80%;
    }
    img:nth-child(1) {
      transform: translateX(-40%)
    }
    img:nth-child(2) {
      transform: translateX(20%) translateY(-30%);
    }
  }

  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      max-width:  max-content;
    }

    h2 {
      font-size: 36px;
      line-height: 48px;
      text-align: center;
    }
    p {
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      max-width: 625px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        span {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.gardens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
  h2 {
    font-size: 36px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    .grid-item {
      display: flex;
      flex-direction: column;
      max-width: 360px;
    }

    .index {
      font-size: 96px;
      color: #918F8F;
      line-height: 22px;
      margin-bottom: 50px
    }
    .index:nth-child(even) {
      margin-top: 50px;
      margin-bottom: 0px
    }
    .garden {
      font-size: 24px;
      color: #5F5C5C;

    }
    p {
      color: #7C7A7A;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.products {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #2A332B;
    font-size: 36px;
  }

  img {
    margin: 20px 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px
  }

  li {
    color: #2A332B;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;
  }

  li.active {
    color: $green
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    justify-items: center;

    .grid-item {
      width: 200px;

      .info {
        background-color: white;
        border-radius: 5px;
        box-shadow: 3px 5px 18px rgba(0, 0, 0, 0.08);
        display: grid;
        place-items: center;
        padding: 10px;
        width: 180px;
        position: relative;
        top: -60px
      }

      .title {
        font-size: 25px;
        font-weight: bold;
        line-height: 33px;
      }
      .price {
        color: $green;
        font-size: 22px;
        
        i {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h2 {
    color: #2A332B;
    font-size: 36px;
    font-weight: bold
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .grid-item {
      img {
        max-width: 100%;
        height: 250px;
        object-fit: cover;
      }
      h3 {
        color: #2F2A2A;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        color: #7C7A7A;
        font-size: 16px;
      }
    }
    .grid-item:nth-child(odd) {
      transform: translateY(50px);
    }
  }
}

footer {
  background-image: url("../images/grass.png");
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 50px;
  padding: 300px 100px 0;

  small {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 27px;
    color: white;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 0 100px;
    border-bottom: 1px solid #7C7A7A;
    width: 100%;

    > div {
      display: grid;
      place-items: center;
    }

    .logo {
      width: 270px;

      img {
        max-width: 100%
      }
    }

    .menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      align-items: flex-start;

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      li {
        font-size: 18px;
        color: white;
        cursor: pointer;
        transition: .4s
      }

      li:not(.title):hover {
        color: orange
      }

      li.title {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

// Media queries

@media (max-width: 991px) {
  header, section, footer {
    padding-inline: 50px 
  }

  .pages-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    min-height: 100vh;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    // animation: 

    .pages-nav-logo {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      width: 100%;
      border-bottom: 1px solid #1A5221;

      img {
        max-width: 100%;
      }

      button {
        color: black;
        font-size: 1.7rem;
        font-weight: bold
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      margin-top: 35px;

      a {
        color: black
      }
    }
    .mobileNavLinks {
      display: flex;
      flex-direction: row;
      text-align: left;
      padding: 25px 0;
      border-top: 1px solid #1A5221;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        background-color: #ffbf00;
        cursor: pointer;
        width: 26px;
        height: 26px;
        display: grid;
        place-items: center;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        transition: .4s;
      }
      li:hover {
        background-color: green
      }
    }
  }

  .hamburger-btn {
    display: block !important;
    align-self: flex-end
  }
  .header-bottom {
    display: flex !important; 
    justify-content: space-between;

    // .searchbox-btn {
      
    // }

  }
  .about {
    grid-template-columns: 1fr;

    .section-banner {
      object-fit: cover;
      position: static;
      width: 100%;
      height: 400px;
      margin-bottom: 30px;
    }
    div:nth-of-type(1) {
      display: none
    }
  }
  .products {
    nav ul {
      gap: 10px;
      
      li {
        font-size: 1.2rem
      }
    }
    .grid{
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

    }
  }
  .gardens {
    .grid {
      grid-template-columns: 1fr;
    }
    .grid-item:nth-child(even) {
      flex-direction: column-reverse;

      .index:nth-child(even) {
        margin-top: 50px;
        margin-bottom: 30px
      }
    }
  }
  .blogs {
    .grid {
      grid-template-columns: 1fr;

    .grid-item {
      margin-bottom: 30px;

      img {
          width: 100%
        }
      }

      .grid-item:nth-child(odd) {
        transform: translateY(0px);
      }
    }
  }
  footer {
    .footer-container {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 40px;
      padding-bottom: 20px;
      text-align: center;

      .menus {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 15px;

        ul {
          gap: 10px;
          margin-bottom: 15px;
        }
      }
    } 
    
  }
  .services .grid {
    grid-template-columns: 1fr !important;
    gap: 50px !important;

    .grid-item {
      align-items: center;
    }
  }

  .gallery .grid {
    grid-template-columns: 1fr !important;

    .grid-item:nth-child(2),
    .grid-item:nth-child(5) {
      transform: translateY(0) !important
    }
  }
  .services-section {
    h2 {
      text-align: center;
    }
    .grid {
      img {
        display: none
      }
    }
  }
}

@media (max-width: 756px) {
  .contact {
    align-items: center;

    h2 {
      align-self: center;
    }
    .grid {
      justify-content: center;
      grid-template-columns: 1fr !important;
    }
  }
}

@media (max-width: 564px) {
  html {
    font-size: 95%
  }
  header, section, footer {
    padding-inline: 20px 
  }
}

// About page 

.services {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 150px;
  gap: 20px;
  position: relative;

  .section-overlay-img {
    position: absolute;
    left: 0;
    bottom: 0
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #2A332B;
  }
}

.services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
    gap: 20px;

    img {
      max-width: fit-content;
    }

    h3 {
      color: #1A5221;
      font-size: 24px;
    }

    p{
      color: #7C7A7A;
      font-size: 16px;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 150px;
  gap: 20px;

  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #2A332B;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 120px;

    .grid-item {
      width: 360px;
      height: 330px;
      object-fit: cover
    }

    .grid-item:nth-child(2),
    .grid-item:nth-child(5) {
      transform: translateY(-100px)
    }
  }
}

// Services page 

.services-section {
  h2 {
    font-size: 48px;
    font-weight: bold;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    .grid-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      img {
        width: 570px;
        height:370px;
        object-fit: cover;
      }

      &:nth-of-type(2) {
        flex-direction: row-reverse;

        .grid-item-info {
          align-items: flex-end;
        }
      }

      .grid-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h3 {
          font-size: 24px;
        }
        
        p {
          font-size: 16px;
        }
        
        img {
          max-width: 84px;
          max-height: 84px;
          object-fit: contain;
        }
      }
    }
  }
}

// Social page 

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 150px;

  h2 {
    font-size: 48px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 100px;
  }

  p {
    font-size: 22px;
    line-height: 30px;
    max-width: 850px;
    text-align: center;
  }
}

// Contact page 

.contact {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 48px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 100px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .grid-item {
      width: 320px;
      height: 300px;
      background-color: #F5F5F5;
      border-radius: 3px;
      position: relative;

      .grid-item-icon {
        display: grid;
        place-items: center;
        width: 140px;
        height: 140px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.08);
        position: absolute;
        top: -25%;
        left: 50%;
        transform: translateX(-50%)
      }
      
      .grid-item-text {
        position: absolute;
        bottom: 20%;
        left: 10%;

        p {
          font-size: 20px;
          color: #3E3737;
          margin-bottom: 15px;
        }
      }
    }
  }
}

// Swiper 

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  // height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 80%;
}

.swiper-slide {
  max-width: 350px;
  width: 320px;
  min-width: 320px;
  height: 250px;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.08);
  position: relative;

  > * {
    position: absolute;
  }

  img {
    max-width: 100%
  }

  img.main-img {
    right: 0;
    bottom: 0;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    top: 15%;
    left: 10%;
  }
  h3 {
    font-size: 22px;
    top: 35%;
    left: 10%;
    color: white
  }
}

.swiper-slide:nth-child(1) {
  background-color: #1A5221;
}

.swiper-slide:nth-child(2) {
  background-color: #91B40D;

  img.secondary-img {
    bottom: 0
  }
}

.swiper-slide:nth-child(3) {
  background-color: #FFBF00;
}

.swiper-pagination-bullet-active {
  background-color: #ffbf00 !important;
  top: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 60px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #FFBF00;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background-color: orange;
  color: white
}